body{
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: center;
    height:100vh;
    align-items: center;
    font-family: cursive;
}

img{
    width:100px;
    height:100px;
    position:absolute;
    border-radius: 50%;
    top:-50px;
    left:50%;
    transform: translateX(-50%);
}

.container
{
    height:250px;
    width:600px;
    background-color: aquamarine;
    padding:20px;
    position: relative;
    border-radius: 12px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    min-width: 600px;
}

.text
{
    font-weight: 500;
    font-size: 20px;
    margin:60px 50px 20px;
}

.username
{
    margin:20px 50px;
}