body{
    margin:0px;
    padding:0px;
    display: flex;
    justify-content: center;
    font-family:monospace;
}

.container
{
    margin:20px;
    background-color: rgb(35, 35, 35);
    color:green;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

.container h1
{
    text-align: center;
    font-size: 60px;
    letter-spacing: 3px;
    margin:0px; 
}

button
{
    border:solid white 2px;
    background-color: rgb(74, 66, 66);
    color: white;
    border-radius: 8px;
    padding:5px;
    width:60px;
}

button:hover
{
    cursor: pointer;
    opacity: 0.8;
}