body{
    background-color: darkkhaki;
    margin: 0px;
    height:100vh;
    text-align: center;
}

h2{
    font-size: 50px;
    font-family: cursive;
    text-shadow: 5px 5px 8px rgba(0,0,0,0.7);
}
.container
{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height:auto;
    width:auto;
}

.btn 
{
    height:200px;
    width:250px;
    margin:10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    text-transform: capitalize;
    
    color: antiquewhite;
    font-size: 20px;
    border: none;
    border-radius: 10px;;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.7);
    text-shadow: 5px 5px 8px rgba(0,0,0,0.7);
    background: url("images/bee.jpg");
    background:cover;
    cursor: pointer;
}
.btn:hover
{
    color: darkkhaki;
}
.btn:active
{
    height:210px;
    width:260px;
}